<div ng-controller='RoomsController'>
  <h3>Welcom to room: <%= @room.name %></h3>

  <div class='row'>
    <div class='column column-50'>
      <% @messages.each do |m| %>
        <blockquote>
          <div> <h5><%= m.title %></h5> </div>
          <div> <%= m.content %> </div>
        </blockquote>
      <% end %>
    </div>
    <div class='column column-50'>
      <%= semantic_form_for @new_message, url: room_messages_path(room_id: @room.id), html: {'ng-submit' => 'submit($event)'} do |f| %>
        <%= f.input :title, input_html: {'ng-model' => 'message.title'} %>
        <%= f.input :content, input_html: {'ng-model' => 'message.content'} %>
        <!-- <%= f.action :submit%> -->
        <input type="submit" name="name" value="post">
      <% end %>
      </ng-submit>
    </div>
  </div>

</div>
